# UI Base URL
UI_BASE_URL=https://www.saucedemo.com

# API Base URL
API_BASE_URL=https://petstore.swagger.io/v2

# Test credentials (saucedemo)
STANDARD_USER=standard_user
LOCKED_USER=locked_out_user
TEST_PASSWORD=secret_sauce
